.cabecalho{
    width: 360px;
    height: 91px;
    background-color: rgb(243, 217, 243);

}
.primeira_secao{
    width: 360px;
    height: 141px;
    background-color: rgb(255, 221, 227);

}
.retangulo{
    width: 230px;
    height: 120px;
    background-color: rgb(255, 255, 255);
