.cabecalho{
    width: 360px;
    height: 91px;
    background-color: rgb(243, 217, 243);

    .retangulo{
        width: 90px;
        height: 70px;
        background-color: rgb(255, 255, 255);
    
}
.primeira_secao{
    width: 360px;
    height: 141px;
    background-color: rgb(255, 221, 227);

}
.retangulo{
    width: 213px;
    height: 120px;
    background-color: rgb(255, 255, 255);

.retangulo{
    width: 128px;
    height: 9px;
    background-color: rgb(255, 255, 255);
    
.retangulo{
    width: 128px;
    height: 9px;
    background-color: rgb(255, 255, 255);
        
.segunda_secao{
    width: 360px;
    height: 256px;
    background-color: rgb(241, 175, 241);
    
.retangulo{
    width: 291px;
    height: 165px;
    background-color: rgb(255, 255, 255);

.retangulo{
    width: 327px;
    height: 253px;
    background-color: rgb(255, 255, 255);
    
.terceira_secao{
    width: 360px;
    height: 266px;
    background-color: rgb(241, 175, 241);

.retangulo{
    width: 291px;
    height: 165px;
    background-color: rgb(241, 175, 241);
                
.retangulo{
    width: 327px;
    height: 253px;
    background-color: rgb(255, 255, 255);
        