.cabecalho{
    width: 360px;
    height: 91px;
    background-color: #f3d9f3;

    .circulo_imagem{
        width: 90px;
        height: 70px;
        background-color: rgb(255, 255, 255);
    
}
.primeira_secao{
    width: 360px;
    height: 141px;
    background-color: #ffdde3;

}
.retangulo_imagem{
    width: 213px;
    height: 120px;
    background-color: rgb(255, 255, 255);

.barra{
    width: 128px;
    height: 9px;
    background-color: rgb(255, 255, 255);
    
.barra{
    width: 128px;
    height: 9px;
    background-color: rgb(255, 255, 255);
        
.segunda_secao{
    width: 360px;
    height: 256px;
    background-color: #f3d9f3;
    
.retangulo_imagem{
    width: 291px;
    height: 165px;
    background-color: rgb(255, 255, 255);

.quadrado{
    width: 327px;
    height: 253px;
    background-color: #fcb8ed;
    
.terceira_secao{
    width: 360px;
    height: 266px;
    background-color: #ffdde3;

.retangulo_imagem{
    width: 291px;
    height: 165px;
    background-color: rgb(255, 255, 255);
                
.quadrado{
    width: 327px;
    height: 253px;
    background-color: #fcb8ed;

.rodape{
    width: 360px;
    height: 47px;
    background-color: #f3d9f3;
    

        